.swiper {
  width: 60vw;
  height: 100%;
  border: 1px solid black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.first-view-container {
  margin: 0 50px;
  display: grid;
  grid-template:
    "logo   title title"1.5fr
    "logo   info  info"1.5fr 
    "sns    info  info"1fr 
    "constr info  info"1fr 
    / 30vw 30vw 30vw;
  height: 100vh;
}

.logo {
  grid-area: logo;
  margin: auto 0;
  /* border: black solid 2px; */
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  /* height: 300px; */
  width: 30vw;
  height: 50vh;
}

.sns {
  grid-area: sns;
  display: flex;
  width: 30vw;
  height: 25vh;
}

.sns a {
  margin: 0 5px;
  box-sizing: border-box;


}

.sns img {
  height: 100px;
}

.constr {
  margin: 0 auto;
  display: block;
  grid-area: constr;
  overflow: hidden;

}

.title {
  display: block;
  grid-area: title;
  margin: auto;
  /* border: black solid 2px; */
  width: 60vw;
  text-align: center;
  height: 10vh;
  overflow: hidden;

}

.title h1 {
  font-size: 70px;
}

.info {
  grid-area: info;
  margin: 20px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

h1 {
  display: block;
}
