.event-lp{
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*タイトル*/
.title-container{
    text-align: center;
    width: 100%;
}
.event-title{
    font-size: clamp(24px, 4vw, 50px); /*clamp(最小値,推奨値,最大値)*/
    white-space: pre-wrap;
    word-break: keep-all;
    width: 100%;
}

/*バナー画像*/
.banner-container{
    display:block;
    margin: 1vw;
}
.banner{
    width: clamp(360px, 90vw, 1080px);
    margin: auto;
}

/*イベント紹介文*/
.intro-container{   
    display:block;
    margin: 1vw;
}
    .intro-title{
        max-width: 1080px;
        width:90vw;
        margin: auto;
        font-size: clamp(20px, 3vw, 45px);
    }
    .intro-text{
        margin: auto;
        max-width: 1080px;
        width:90vw;
        word-break: normal;
        font-size: clamp(15px, 1.8vw, 20px);
    }
    .entry-link{
        font-size: clamp(18px, 2vw, 40px);
    }
    .font-blue{
        color:#0000ff;
    }
    .font-bold{
        font-weight: bold;
    }

/*外部サービスリンク一覧*/
.ex-svc-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: clamp(360px, 90vw, 1080px);
    margin: auto;

    padding: 3vw 1vw;
    border: dotted #ff9090;
    border-radius: 15px;
}
    .ex-svc-block{
        display: inline;
        text-align: center;
        width: 100px;
        background-color: #fff;
        border-radius: 15px;
    }
    .up-t-block{
        width: 200px;
    }
    .up-t-block a{
        padding-bottom: 0;
        width: 100%;
    }
    .up-t-img{
        display: block;
        height: 70px;
        line-height: 80px;
        width: 200px;
        font-size: 40px;
        margin: 0;
    }
    .note-block a{
        width: 100%;
    }

        .logo-block{
            display: flex;
            height: 70px;
            width: 100px;
            justify-content: center;
            margin: auto;
        }
        .logo-block img{
            display: block;
            width: 70px;
            height: auto;
            margin: auto;
        }
        .x-link img{
            width: auto;
            height: 55%;            
        }
        .youtube_link img{
            width: auto;
            height: 55%;            
        }

        .ex-svc-title{
            display: block;
            height: 30px;
            font-size: 15px;
            white-space: pre;
        }


/*コンテンツ*/
.content-container{
    display:grid;
    gap:10px;
    margin: 1vw;
    color: #000;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5,12.5vw);
}

.rule-book-block{
    grid-column: 1/9;
    grid-row: 1/4;
    padding: 1vw;
    width: clamp(360px, 90vw, 1080px);
    margin: auto;
    border-radius: 15px;
    background-image: url(../img/onyaru_cycommu.png);
    background-size: 3000px;
    background-position: 15% 10%;
    background-repeat: no-repeat;
  }

.content-label{
    font-size: clamp(20px, 4vw, 50px);
    margin: 1vw 2vw 0vw 2vw; /*top, right, bottom, left*/
    border-radius: 15px;
}

.content-list{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, auto);
    margin: 0vw 2vw 2vw 2vw;
    padding: 3vw;
    color: #0000ff;
    background-color: #ffffffe0;
    border-radius: 15px;
}

.content-link{
    width: 50vw;
    height: clamp(20px, 4vw, 60px);
    font-size: clamp(15px, 1.8vw, 20px);
}

/*フッター*/
.tail-container{
    font-size: clamp(12px, 1.2vw, 20px);
    display:grid;
    margin: 10vw 5vw 3vw 5vw;
    grid-auto-flow: row;
}
