.event-lp{
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*タイトル*/
.title-container{
    margin: 3vw 0vw;
    text-align: center;
    width: 100%;
}
.event-title{
    font-size: clamp(24px, 4vw, 50px); /*clamp(最小値,推奨値,最大値)*/
    white-space: pre-wrap;
    word-break: keep-all;
    width: 100%;
    font-weight: bold;
}

/*バナー画像*/
.banner-container{
    display:block;
    margin: 1vw;
}
.banner{
    width: clamp(360px, 90vw, 1080px);
    margin: auto;
    overflow: hidden;
}
.swiper-slide{
    padding: auto;
}
/*イベント紹介文*/
.intro-container{   
    display:block;
    margin: 3vw 1vw 0vw 1vw; /*top, right, bottom, left*/
}
    .intro-title{
        max-width: 1080px;
        width:90vw;
        margin: auto;
        font-size: clamp(20px, 3vw, 45px);
        font-weight: bold;
    }
    .intro-text{
        margin: auto;
        max-width: 1080px;
        width:90vw;
        word-break: normal;
        font-size: clamp(15px, 1.8vw, 20px);
    }
    .entry-link{
        font-size: clamp(18px, 2vw, 40px);
    }
    .font-blue{
        color:#0000ff;
    }
    .font-bold{
        font-weight: bold;
    }

/*コンテンツ*/
.content-container{
    margin: 3vw 1vw;
    color: #000;
}
.content-block{
    width: clamp(360px, 90vw, 1080px);
    margin: 10vw auto;
    border-radius: 15px;
}
.content-title{
    font-size: clamp(18px, 4vw, 50px);
    margin: 0vw auto;
    font-weight: bold;
}

.shirt-design-block{
    padding: 1vw;
}
.shirt-design-block p{
    padding: 1vw;
    font-size: clamp(15px, 1.8vw, 20px);
    margin: 0vw auto;
}
.shirt-design-block-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: clamp(360px, 90vw, 1080px);
}
.shirt-design-block-child img{
    width: 350px;
}
.shop-info-text a{
    text-decoration: underline;
}
.logo-back-block{
    padding: 1vw;
    background-image: url(../img/onyaru_cycommu.png);
    background-size: 3000px;
    background-position: 15% 10%;
    background-repeat: no-repeat;
  }

.content-label{
    font-size: clamp(20px, 4vw, 50px);
    margin: 1vw 2vw 0vw 2vw; /*top, right, bottom, left*/
    border-radius: 15px;
    font-weight: bold;
}

.content-list{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, auto);
    margin: 0vw 2vw 2vw 2vw;
    padding: 3vw;
    color: #0000ff;
    background-color: #ffffffe0;
    border-radius: 15px;
    gap : 1vw;
}

.content-link{
    width: 50vw;
    height: clamp(20px, 4vw, 60px);
    font-size: clamp(15px, 1.8vw, 20px);
}
.schedule-text{
    color: #000;
    gap : 0;
}
.schedule-text p{
    font-size: clamp(15px, 1.8vw, 20px);
}
.schedule-text a{
    color: #0000ff;
    text-decoration: underline;
}

/*応援メッセージ*/
.message-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(10px, 1.5vw, 15px);
    width: clamp(360px, 90vw, 1080px);
    margin: auto;
    padding: 3vw 1vw;
}

.message-card{
    width: 340px;
    height: auto;
    padding: 10px;
    border-radius: 340px 20px 160px 20px / 20px 300px 20px 200px;/* 横半径(左上 右上 右下 左下)/縦半径(左上 右上 右下 左下) */
}
.background-color-1{
    border: 4px solid #91CF50;
    background: #91CF5052;
}
.background-color-2{
    border: 4px solid #FD7EB7;
    background: #FD7EB775;
}
.background-color-3{
    border: 4px solid #9DC3E6;
    background: #9DC3E675;
}


/*外部サービスリンク一覧*/
.ex-svc-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: clamp(360px, 90vw, 1080px);
    margin: auto;
    padding: 3vw 1vw;
}

.dot-lines{
    border: dotted #ff9090;
    border-radius: 15px;
}

    .ex-svc-block{
        display: inline;
        text-align: center;
        width: 100px;
        background-color: #fff;
        border-radius: 15px;
    }
    .up-t-block{
        width: 200px;
    }
    .up-t-block a{
        padding-bottom: 0;
        width: 100%;
    }
    .up-t-img{
        display: block;
        height: 70px;
        line-height: 80px;
        width: 200px;
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }
    .note-block a{
        width: 100%;
    }
        .logo-block{
            display: flex;
            height: 70px;
            width: 100px;
            justify-content: center;
            margin: auto;
        }
        .logo-block img{
            display: block;
            width: 70px;
            height: auto;
            margin: auto;
        }
        .x-link img{
            width: auto;
            height: 55%;            
        }
        .youtube_link img{
            width: auto;
            height: 55%;            
        }
        .ex-svc-title{
            display: block;
            height: 30px;
            font-size: 15px;
            white-space: pre;
        }


/*フッター*/
.tail-container{
    font-size: clamp(12px, 1.2vw, 20px);
    display:grid;
    margin: 10vw 5vw 3vw 5vw;
    grid-auto-flow: row;
}
